.container-section {
  &-main {
      width: 90%;
      margin: 0 auto;
    
      @media screen and (min-width: 576px) {
        width: 70%;
      }

      .title-container {
          width: 100%;
          margin-bottom: 60px;
          &-top {
              margin: 0 auto;
              width: 90%;
          }

          h2 {
             // text-align: center;
              font-size: calc(1.5rem + 3vw);
              margin-bottom: calc(1rem + 0.4vw);
              background: linear-gradient(0.25turn, #F09C1D, #DB6B2C, #aa6aa7);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
          }

          div {
              p {
                  text-align: end;
                  background: linear-gradient(0.25turn, #F09C1D, #DB6B2C, #aa6aa7);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
              } 
          }
      }

      .services-container {
          margin-top: 100px;

          &-center {
              width: 100%;
              min-height: 500px;
              margin: 0 auto;

              &-grid {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  grid-auto-rows: 300px;
                  gap: 30px;

                  .box {
                      background-color: rgba(189, 198, 207, 0.514);
                      border-radius: 30px;

                      display: flex;
                      justify-content: center;
                      align-items: center;

                      cursor: pointer;
                  }
              }
          }
      }

      .box-container-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
  }

}